{% load staticfiles %}
<!DOCTYPE htlm>
<html>

<head>
    <title> 图片占位服务器</title>
    <link rel="stylesheet" href="{% static 'site.css' %}" </head>

    <body>
        <h1> 这里是图片占位服务器</h1>


<p>这是一个占位图生成服务器，你只需要在你的图片连接里使用，符合我们规则的url就能迅速的对网页进行布局 </p>
<p>我们的网址是： www.ehco.com/img/{width}x{height}</p>

        <h2> 使用方式如下：</h2>
        <pre>
            &lt;img src="http://127.0.0.1:8000/img/400x222/" &gt;
        </pre>

        <h3> 这里是图片例子：</h3>
        <ul>

            <li><img src="{% url 'imgserver:placeholder' width=50 height=50 %}"></li>
            <li><img src="{% url 'imgserver:placeholder' width=100 height=100 %}"></li>
            <li><img src="{% url 'imgserver:placeholder' width=200 height=200 %}"></li>
            <li><img src="{% url 'imgserver:placeholder' width=300 height=400 %}"></li>


        </ul>
    </body>

</html>