<!DOCTYPE htlm>
<html>

<head>
    <title>Ehco Pages</title>
</head>

<body>
    <h1>{{ category_name }}</h1>
    {% if category %} 
        {% if pages %}
            <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}"> {{ page.title }} </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>NO Pages currently in category </strong>
        {% endif %}
    {% else %}
        The specified category {{ category_name }} dose not exist
    {% endif %} 
    <a href=" /rango/add_page/{{ category_name }}/">增加一个新的文章  </a>     
    </body>
</html>